<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" >
  <div>
    <label for="Name:">Name</label>
  </div>
  <div>
    <input formControlName="name" type="text" placeholder="Enter Name here " />
  </div>
  <div style="color: red;" *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
    Please provide a name.
  </div>
  
  <div>
    <label for="">Email </label>
  </div>
  <div>
    <input formControlName="email" type="email" placeholder="Enter Email Here " />
  </div>
  <div style="color: red;" *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty||myForm.get('email')?.touched)"> 
    Please provide a valid Email
  </div>

  <div>
    <label for="">Message:</label>
  </div>
  <div>
    <input formControlName="message" type="text" placeholder="Enter Message here  ">
  </div>
  <div style="color: red ;" *ngIf="myForm.get('message')?.invalid && (myForm.get('message')?.dirty||myForm.get('email')?.touched)">
please Provide a valid message min length 5 characters 
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{{this.myForm.value|json}}
