
body {
  margin: 0;
  padding: 0;
}

form {
  display: grid;
  grid-template-columns: 2fr 2fr   ;
  margin: 0.5%;
  padding: 1%;
  border: 3px solid rgb(71, 99, 82);
}




table,th,tr,td {
  border: 1px solid rgb(255, 0, 0);

}
label{
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
}
input{
  width: 0%;
}
.btn-group-vertical{
width: 100px;
  display: flex;
  justify-content: space-between;
}