<div class="main-divider">
  <label for="">Enter Product Name :</label>
  <input type="text" class="input-field" />
  <label for="">Enter Price:</label>
  <input type="number" class="input-field">
  <div class="image-container">
    <button class="btn-class">File</button>
    <img src="" alt="">
    </div>
    <div>
        <label for="">Enter Manufacturing Date:</label>
        <input type="text" class="date-field">
        <label for="">Enter Expiration Date:</label>
        <input type="text" class="date-field">
    </div>
</div>

