<form  [formGroup]="newProductForm" class="was-validated">
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input placeholder="Enter Manufacturing Date " formControlName="productName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
   
    </div>
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputPassword1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="enterPrice" type="datetime-local" class="form-control" id="exampleInputPassword1" required>
    </div>

    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="manufacturingDate" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>

    <div class="col-11 mb-3 input-group">
      <label for="exampleInputPassword1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="enterCompanayName" type="password" class="form-control" id="exampleInputPassword1" required>
    </div>

    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="enterSalesRefName" type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="expirationDate" type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="" type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="" type="month" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputEmail1" class="form-label"> Manufacturing Date:</label>
      <input formControlName="" type="month" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="col-11 mb-3 input-group">
      <label for="exampleInputPassword1" class="form-label"> Manufacturing Date:</label>
      <select   class="form-control" id="exampleInputPassword1" required>
          <option >Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-success">Submit</button>
      <button type="button" class="btn btn-outline-primary">Cancel</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
    </div>
</form>


